.container{
    display: flex;
    text-align: center;
    padding: 5px;
}

.logo{
    width: 7%;
    height: 7%;
    margin-left: 25px;
}

.searchbox{
    margin-left: 50px;
    margin-top: 25px;
    width: 20%;
    height: 10%;
    text-align: center;
    border: 10;
    border-radius: 5px;
}

.button{
    width: 5%;
    height: 10%;
    padding: 8px 8px;
    border: 10;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 20px 10px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    color: #333;
    background: #fff;
}

.user{
    display: flex;
    flex-direction: column;
    width: 5%;
    padding: 10px 10px;
    border: 10;
    background: #fff;
    color: #333;
    border-radius: 5px;
    margin: 10px 10px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
