img{
    width: 80%;
    height: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 8px 8px;
}

.brush{
    margin-left: 20px;
}

button{
    /* display: inline-block; */
    width: 40%;
    padding: 10px 15px;
    border: 30;
    background: bfd4db;
    color: #444;
    border-radius: 5px;
    margin: 10px 15px;
    margin-top: 20px;
}

button:hover{
    background: #444;
    color:aliceblue ;
}